body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}
#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 12vw;
    background-color: rgba(0, 106, 255, 0.87);
    padding: 1rem;
}

#defaultLayout aside > a {
    display: block;
    padding: 1rem 0 1rem 2.5rem;
    color: white;
    border-radius: 8px;
    transition: all 0.3s;
    text-decoration: none;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 5vh;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.exercise-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #ababab;

    border-radius: 10px;
}
.exercise-creator-container form{
    width: 70%;
}

.form-group{
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.form-group label{

    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.form-group input, .form-group textarea, .form-group button{
    font-size: 1.2rem;
}
#title-field{
    height: 1.5rem;
    border-radius: 10px;
}
.description-field{

}
.file-uploads{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exercise-media{
    padding-bottom: 1rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}