.exercise-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #ababab;

    border-radius: 10px;
}
.exercise-creator-container form{
    width: 70%;
}

.form-group{
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.form-group label{

    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.form-group input, .form-group textarea, .form-group button{
    font-size: 1.2rem;
}
#title-field{
    height: 1.5rem;
    border-radius: 10px;
}
.description-field{

}
.file-uploads{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exercise-media{
    padding-bottom: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}